body {
    padding: 0px;
    margin: 0px;
    width: 2000px;
    min-width: 1500px;
    max-width: 100%;
    background-color:#f6f2f2;
}

#mainForm {
}

#mainDiv {
    height: 100%;
    overflow: hidden;
    min-width:600px;
}

#titleDiv {
    color: #ffffff;
    background: #26212f;
    height: 100px;
    padding-top: 40px;
    text-align:center;
    float: left;
    width: 100%;
}

#titleDiv span {
    height: 50px;
    font-weight: 200;
    font-size: 30px;
    font-family:SimHei;
    margin-left:10px;
}

.titleDiv_titleLogo {
    position: relative;
    top: 7px;
    width: 50px;
    height: 50px;
    margin-left: -300px;
}
.titleFindDiv {
    float:right;
    width:220px;
    height:40px;
    margin-right:300px;
    margin-top:15px;
    background-color:white;
    border-radius:3px;
}
.titleFindText {
    height:25px;
    position: relative;
    top: -5px;
    margin-bottom: 10px;
    border:0px;
    outline:none;
}
.titleFindImg {
    position: relative;
    top: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer
}

#contentDiv {
    width: 1500px;
    max-width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    background: #f6f2f2;
    margin-top: 40px;
    bottom: 5px;
    float: left;
}

#leftDiv {
    border: 0px;
    width: 20%;
    height: 700px;
    float: left;
    background: #26212f;
    box-shadow:6px 6px 6px #888888;
}

#rightDiv {
    float: right;
    border: 0px;
    background: white;
    height: 1800px;
    width: 78%;
    text-align: center;
    box-shadow: 6px 6px 6px #b6b1b1;
}

iframe {
    border: 0px;
    background: white;
    width: 100%;
    height: 100%;
}

.oneList {
    display: inline-block;
    width: 80%;
    line-height: 40px;
    cursor: pointer;
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
    font-family: SimHei;
    color:white;
}

/*.current {
    color: #ee5236;
    background-color: #ee5236;
}*/

.oneList > span {
    margin-left: 10px;
}

/*.oneListUl {
    display: none;
    border: 0px;
}*/

/*.oneListUl > li {
    border: 0px;
    margin-top: 10px;
    line-height: 25px;
    background: #cbc9c9;
    text-align: center;
    width: 80%;
}*/

/*.oneListUl > li > a {
    color: #ffffff;
    text-decoration: none;
}*/

.MenuUl, .menuList > ul {
    list-style-type: none;
}
